h1{
    color: magenta;
    font-size: 3em;
    border-bottom: 15px dotted purple;
    padding-bottom: 5px;
}

h2{
    color: rgb(194, 191, 191);

}

.container{

    border : 1px solid black;
    max-width:  40%;
    padding: 30px;
    margin: auto;
    color:rgb(107, 108, 110);




}

span{

font-size: 2em;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}

.bottom{
    border : 3px solid purple;
    padding: 20px;

}

h2 + p{

    padding-top: 10px;
}

h3{

   
    margin-top: 50px;
  
}


p::first-letter{

    font-size : 3em;
    color : purple;
    font-weight: bold;
    float : left;
    margin-right : 8px;
    font-weight: "Georgia", serif;
}